* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);}

button {
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 6px;
}

input {
    padding: 4px;
}
